<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <title>Impressum</title>
    <link href="{% static 'epanel/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar_green">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-lightning-charge fg-green"></i></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Start</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/signup">Registrieren</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              Impressum
            </div>
            <div class="card-body">
Transferstelle Bingen (TSB)<br>
Geschäftsbereich des<br><br>
ITB – Institut für Innovation, Transfer und Beratung gemeinnützige GmbH<br>
Berlinstraße 107 a<br>
55411 Bingen <br>
Telefon +49 6721 99 42 50<br>
Fax (06721) 98 424-29 <br><br>

Sitz der Gesellschaft:<br>
55411 Bingen am Rhein<br>
Registergericht: Mainz HRB 22716<br>
UST.-IDNR.: DE 175 755 906 <br>
Leitung des Geschäftsbereichs TSB: <br>
Joachim Walter<br>
Walter(at)tsb-energie.de <br><br>

Geschäftsleitung ITB gGmbH:<br>
Prof. Dr. Oliver Türk, Jean-Olivier Boghossian<br><br>

<b>Disclaimer - rechtliche Hinweise</b><br><br>
<b>1. Haftungsbeschränkung</b><br>
Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder. Mit der reinen Nutzung der Website des Anbieters kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande. <br>
<b>2. Externe Links</b><br>
Diese Website kann Verknüpfungen zu Websites Dritter enthalten ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle dieser externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht. <br>
<b>3. Urheber- und Leistungsschutzrechte</b><br>
Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt. 
Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig. <br>
<b>4. Besondere Nutzungsbedingungen</b> <br>
Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den vorgenannten Nummern 1. bis 4. abweichen, wird an entsprechender Stelle ausdrücklich darauf hingewiesen. In diesem Falle gelten im jeweiligen Einzelfall die besonderen Nutzungsbedingungen. <br>
[Quelle: JuraForum.de & bista.de]
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <br><br>
    <!-- Footer -->
    <div style="position: fixed; bottom: 0; right: 0; text-align: right; background-color: rgba(117,255,0,0.6); padding: 6px; border-top-left-radius: 8px;">  
      <!-- Copyright -->
      <div>
        &nbsp;<a class="text-dark" href="/impressum/">Impressum</a>&nbsp;|&nbsp;<a class="text-dark" href="/datenschutz/">Datenschutzerklärung</a>&nbsp;
      </div>
      <!-- Copyright -->
    </div>
  </body>
</html>